:root {
    --background: #f6f6f6;
}

.calculator {
    max-width: 300px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}

.calculator .screen-container {
    background-color: var(--background);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.screen-container .screen {
    width: 100%;
    border: 0px;
    background-color: var(--background);
    border-radius: .7rem;
    padding: .6rem;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.5);
    outline: none;
}

.screen {
    display: block;
    background: transparent;
    width: 100%;
}