:root {
    --white: #f7f7f7;
    --blue: #0275d8;
    --darkYellow: #f0ad4e;
    --lightGreen: #5cb85c;
    --lightBlue: #5bc0de;
    --red: #d9534f;
    --darkGray: #292b2c;
    --lightGray: #bbbcbd;
}

*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--white);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 2rem;
}

.calculator {
    max-width: 300px;
    width: 100%;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}

.calculator .screen-container {
    background-color: var(--blue);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.screen-container .screen {
    width: 100%;
    border: 0px;
    background-color: var(--lightGray);
    border-radius: .7rem;
    padding: .6rem;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.5);
    outline: none;
}

.screen {
    display: block;
    background: transparent;
    width: 100%;
}

.calculator .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    padding: .75rem;
    background-color: var(--blue);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.button-container button {
    font-size: 1.625rem;
    padding: 1rem 0;
    font-weight: 500;
    border: 0px solid transparent;
    border-radius: 25%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}

button.AC,
button.clear,
button.backspace {
    background: var(--red);
}

button.numkey,
button.decimal {
    background: var(--lightBlue);
}

button:hover {
    transform: translateY(-0.2rem);
}

button.operatorkey:hover {
    background: var(--red);
}

button.numkey:hover,
button.decimal:hover {
    background: var(--darkYellow);
}

button.equals {
    grid-column: 3 / 5;
    border-radius: 1rem;
    background: var(--lightGreen);
}

button.digits:active,
button.operators:active,
button.decimal:active,
button.allclear:active,
button.clear:active,
button.equals:active {
	transform: translateY(0rem);
}

.screen output {
    display: block;
    background: transparent;
    width: 100%;
}

output#user-input {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;

}

output#result {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: right;
}